<div
  x-data="initSidebar()"
  class="sidebar"
  :class="{
        'is-active': $store.app.isSiderbarOpen,
        '': !$store.app.isSiderbarOpen
    }"
>
  <div class="sidebar-header">
    <img src="/img/logo/fresh-square.svg" />
    <a @click="closeSidebar()" class="sidebar-close" href="javascript:void(0);"
      ><i data-feather="x"></i
    ></a>
  </div>
  <div class="inner">
    <ul class="sidebar-menu">
      <li><span class="nav-section-title"></span></li>
      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-1"
        class="have-children"
        :class="{
                    'active': openedMenu === 'sidebar-menu-1',
                    '': openedMenu != 'sidebar-menu-1'
                }"
      >
        <a href="#">
          <span class="material-icons">لورم لورم </span>
          <span>لورم </span>
        </a>
        <ul x-show.transition="openedMenu === 'sidebar-menu-1'">
          <li><a href="#">لورم ایپسوم متن </a></li>
          <li><a href="#">لورم ایپسوم متن </a></li>
          <li><a href="#">لورم ایپسوم متن </a></li>
        </ul>
      </li>
      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-2"
        class="have-children"
        :class="{
                    'active': openedMenu === 'sidebar-menu-2',
                    '': openedMenu != 'sidebar-menu-2'
                }"
      >
        <a href="#">
          <span class="material-icons">لورم </span>
          <span>لورم </span>
        </a>
        <ul x-show.transition="openedMenu === 'sidebar-menu-2'">
          <li><a href="#">لورم ایپسوم متن </a></li>
          <li><a href="#">لورم ایپسوم متن </a></li>
          <li><a href="#">لورم ایپسوم متن </a></li>
        </ul>
      </li>
      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-3"
        class="have-children"
        :class="{
                    'active': openedMenu === 'sidebar-menu-3',
                    '': openedMenu != 'sidebar-menu-3'
                }"
      >
        <a href="#">
          <span class="material-icons">لورم </span>
          <span>لورم </span>
        </a>
        <ul x-show.transition="openedMenu === 'sidebar-menu-3'">
          <li><a href="#">لورم ایپسوم متن </a></li>
          <li><a href="#">لورم ایپسوم متن </a></li>
        </ul>
      </li>
      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-4"
        class="have-children"
        :class="{
                    'active': openedMenu === 'sidebar-menu-4',
                    '': openedMenu != 'sidebar-menu-4'
                }"
      >
        <a href="#">
          <span class="material-icons">لورم </span>
          <span>لورم </span>
        </a>
        <ul x-show.transition="openedMenu === 'sidebar-menu-4'">
          <li><a href="#">لورم ایپسوم متن </a></li>
          <li><a href="#">لورم ایپسوم متن </a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
